.metal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 581px;
  height: 467px;
  padding: 52px 0 54px;
  font-size: 22px;
  border-radius: 2px;
  background: url('../../assets/metal-texture.png');
  box-shadow: 0 0 17px 3px #000;
}

.close {
  position: absolute;
  top: 7px;
  right: 17px;
  font-size: 27px;
  font-weight: bold;
  color: #a52016;
  border: none;
  background-color: transparent;
  transition: 0.2s;
  cursor: pointer;
}

.close:hover {
  text-shadow: 0 0 2px #a52016;
}

.close:active {
  color: red;
  text-shadow: 0 0 5px red;
}

.reset-btn {
  position: absolute;
  bottom: 18px;
  width: 60px;
  height: 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #1d64bb;
  box-shadow: 0 0 5px black;
  transition: 0.3s;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #2774ca;
}

.reset-btn:active {
  box-shadow: 0 0 2px black;
  text-shadow: 0 0 5px white;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 465px;
  min-height: 25px;
  text-shadow: 0 0 5px white;
}

.player-input {
  padding: 0 20px;
  width: 170px;
  height: 20px;
  font-size: 16px;
  text-align: center;
  text-overflow: ellipsis;
  background: url('../../assets/red-tree.jpg') left;
  box-shadow: 0 2px 3px black;
  border: none;
  border-radius: 4px;
  appearance: none;
}

.player-input::placeholder {
  color: inherit;
  font-style: italic;
  text-shadow: 0 0 5px white;
}

.save-player {
  position: absolute;
  top: -1px;
  left: 302px;
  font-size: 20px;
  font-weight: 600;
  color: lime;
  background-color: transparent;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.save-player:hover {
  text-shadow: 0 0 2px greenyellow;
}

.save-player:active {
  color: greenyellow;
  text-shadow: 0 0 5px greenyellow;
}

.players-container {
  margin-top: 12px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.players-container::-webkit-scrollbar {
  display: none;
}

.player {
  width: 485px;
  padding: 0 10px;
  text-align: center;
  text-shadow: 0 0 5px black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.player:not(:last-child) {
  margin-bottom: 12px;
}

.selected {
  color: greenyellow;
}

@media screen and (max-width: 1250px) {
  .metal {
    width: 543px;
    height: 317px;
    font-size: 21px;
  }

  .header {
    width: 426px;
  }

  .save-player {
    left: 282px;
  }

  .players-container {
    margin-top: 14px;
  }

  .player {
    width: 446px;
  }

  .player:not(:last-child) {
    margin-bottom: 13px;
  }
}

@media screen and (max-width: 894px) {
  .metal {
    width: 431px;
    height: 242px;
    font-size: 20px;
  }

  .header {
    width: 390px;
  }

  .save-player {
    left: 264px;
  }

  .players-container {
    margin-top: 15px;
  }

  .player {
    width: 410px;
  }

  .player:not(:last-child) {
    margin-bottom: 15px;
  }
}
