<div class="container">
  <header class="header">
    <div class="left-panel">
      <div class="timer">{{ minutes | number : '2.0' }}:{{ seconds | number : '2.0' }}</div>
      <button class="btn play" [disabled]="isPlaying" (click)="play()">Play</button>
      <button class="btn" [disabled]="!isPlaying" (click)="stop()">Stop</button>
    </div>
    <h2>Just play and remember the Time...</h2>
    <div class="right-panel">
      <button class="btn" routerLink="records" [disabled]="isPlaying">Records</button>
      <button class="btn" routerLink="players" [disabled]="isPlaying">Players</button>
      <button class="btn" routerLink="game" [disabled]="isPlaying">Game</button>
    </div>
  </header>
  <div class="game">
    @for (album of albums; track $index) {
      <div class="disc"><img src="{{ album }}" alt="Disc" /></div>
    }
    <div class="router-wrapper" *ngIf="!isMainPage">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer class="footer">
    <p>&copy;&#8239;2025 All Rights Reserved. <a href="https://github.com/front42" target="_blank">&#64;front42</a></p>
  </footer>
</div>
<div class="overlay" *ngIf="!isMainPage"></div>
<div class="warning"><h2>Turn your device</h2></div>
