<div class="container">
  <header class="header">
    <div class="left-panel">
      <div class="timer">
        @if (isPregap) {
          <span class="minus">-</span>
        }
        {{ minutes | number: '2.0' }}:{{ seconds | number: '2.0' }}
      </div>
      <button class="btn play" [disabled]="isPlaying" (click)="play()">Play</button>
      <button class="btn" [disabled]="isPregap || !isPlaying" (click)="stop()">Stop</button>
    </div>
    <h2>Just play and remember the Time...</h2>
    <div class="right-panel">
      <button class="btn" routerLink="players" [disabled]="isPlaying">Players</button>
      <button class="btn" routerLink="records" [disabled]="isPlaying">Records</button>
      <button class="btn" (click)="toggleFullscreen()">Screen</button>
    </div>
  </header>
  <div class="game">
    @for (album of albums; track $index) {
      <div class="album-container" (click)="flipAlbum(album)" (transitionstart)="adjustZIndex($event)">
        <div class="album" [class.flipped]="album.isFlipped">
          <div class="album-front" [style.background-image]="album.front"></div>
          <div class="album-back" [style.background-image]="album.back"></div>
        </div>
      </div>
    }
    @if (!isMainPage) {
      <div class="router-wrapper">
        <router-outlet></router-outlet>
      </div>
    }
    @if (success) {
      <div class="success-wrapper">
        <div class="banner success">
          <p>Congratulations!</p>
          <p class="active-player">{{ player }}</p>
          <p>Your time is</p>
          <p class="banner-time">{{ minutes | number: '2.0' }}:{{ seconds | number: '2.0' }}</p>
          <button class="ok-btn" (click)="closeBanner()">Ok</button>
        </div>
      </div>
    }
    @if (fail) {
      <div class="fail-wrapper">
        <div class="banner fail">
          <p>Let's take a rest and try next time!</p>
          <p class="active-player">{{ player }}</p>
          <p>You've been fighting bravely for an</p>
          <p class="banner-time">HOUR</p>
          <button class="ok-btn" (click)="closeBanner()">Ok</button>
        </div>
      </div>
    }
  </div>
  <footer class="footer">
    <p>&copy;&#8239;2025 All Rights Reserved. <a href="https://github.com/front42" target="_blank">&#64;front42</a></p>
  </footer>
</div>
@if (!isMainPage || success || fail) {
  <div class="overlay" [ngClass]="{ blue: !isMainPage, lime: success, red: fail }"></div>
}
<div class="warning"><h2>Turn your device</h2></div>
