// metal base - banner.scss

.records-container {
  overflow-y: scroll;
  scrollbar-width: none;
}

.records-container::-webkit-scrollbar {
  display: none;
}

.record {
  display: flex;
  justify-content: space-between;
  width: 490px;
  text-shadow: 0 0 5px black;
}

.record:not(:last-child) {
  margin-bottom: 12px;
}

.player {
  width: 225px;
  padding-left: 10px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.time {
  width: 70px;
  text-align: right;
  color: greenyellow;
}

.date {
  width: 230px;
  padding-right: 10px;
  text-align: right;
}

.record:first-of-type {
  text-shadow: 0 0 5px white;
}

@media screen and (max-width: 1250px) {
  .record {
    width: 450px;
  }

  .record:not(:last-child) {
    margin-bottom: 13px;
  }
}

@media screen and (max-width: 894px) {
  .record {
    width: 415px;
  }

  .record:not(:last-child) {
    margin-bottom: 15px;
  }

  .player {
    width: 205px;
    padding-left: 12px;
  }

  .date {
    width: 210px;
    word-spacing: -1px;
  }
}
